@font-face {
    font-family: "Pt Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "Pt Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;

}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: capitalize;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;

}

ol {
    list-style-type: none; /*Убираем исходные маркеры*/
}

ul {
    list-style-type: none; /*Убираем исходные маркеры*/
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;

}

.advantages-number {
    font-size: 18px;
    line-height: 21px;
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
}
h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;  
}

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
}